@import "../variables";

.add-catalog__container {
  //min-width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  box-sizing: border-box;
}

.add-catalog__title {
  display: inline-block;
  vertical-align: center;
  font-family: $main-font;
  color: $big-text;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.add-catalog__title span::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 53px;
  top: 14px;
  right: 0;
  background-color: $green;
}

//.add-catalog__title::before {
//  content: '';
//  position: absolute;
//  top: 10px;
//  right: -20px;
//  width: 53px;
//  height: 3px;
//  color: $green;
//}

.add-good {
  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid #eaeaea;;
}

.add-good:first-child {
  border-top: 1px solid #cdcdcd;
}

.add-good__container {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.add-good__title {
  font-family: $main-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  a {
    color: $add-color-3;
  }
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.add-product__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}

.add-product__quantity {
  display: block;
  flex-shrink: 0;
  width: 50%;
  text-align: left;
}

.add-product__value {
  display: block;
  flex-shrink: 0;
  width: 50%;
  text-align: right;
}

.add-catalog__all {
  padding-top: 186px;
  padding-right: 55px;
  padding-bottom: 44px;
  padding-left: 55px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../../img/gift-photo-mobile.jpg");
  position: relative;
  text-align: center;
  margin-bottom: 35px;
}

.add-catalog__all::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 20px;
  width: 55px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../../img/gift.svg");
}

.add-catalog__all-link {
  color: $white;
  font-size: 16px;
  line-height: 20px;
  span {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .add-catalog__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .add-catalog__title {
    font-size: 36px;
    line-height: 36px;
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-bottom: 80px;
  }

  .add-good:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .add-good {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 37px 27px 38px;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .add-good__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: none;
  }

  .add-good__title {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  .add-product__text {
    display: flex;
    padding-top: 4px;
    padding-bottom: 22px;
    width: 50%;
    font-size: 16px;
    line-height: 20px;
  }

  .add-product__quantity {
    width: auto;
    flex-grow: 1;
    text-align: right;
  }

  .add-product__value {
    width: 95px;
  }

  .add-catalog__all {
    background: url(../../img/gift-photo-tablet.jpg) no-repeat center;
    background-size: cover;
    padding: 72px 14% 69px 59.7%;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {

  .add-catalog__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .add-catalog__title {
    font-size: 36px;
    line-height: 36px;
    max-width: none;
    padding-bottom: 79px;
    border-bottom: none;
  }

  .add-catalog__list {
    width: 895px;
    margin-right: 80px;
  }

  .add-good {
    max-width: none;
    padding: 15px 0 16px;
    border-right: none;
    border-left: none;
  }

  .add-good__title {
    //width: 325px;
    width: 33.6%;
    padding: 0;
    padding-top: 10px;
  }

  .add-product__text {
    //width: 285px;
    width: 33.6%;
    padding: 0;
    padding-top: 14px;
  }

  .add-product__quantity {
    text-align: left;
    //width: 245px;
  }

  .add-product__value {
    width: 81px;
    text-align: left;
  }

  .add-catalog__all {
    box-sizing: border-box;
    width: 245px;
    padding: 187px 30px 45px;
    background: url(../../img/gift-photo-desktop.jpg);
  }

  .add-catalog__all-link {
    display: block;
    text-align: center;
  }


}