@import "../variables";

.button {
  display: block;
  width: 100%;
  font-family: $main-font;
  color: $white;
  text-transform: uppercase;
  background-color: $green;
  padding: 10px 0;
}

.button--product {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}


.button--product--all {
  background-color: $background;
  color: $small-text;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

.button--add-good {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  margin: 15px 0;
  text-align: center;
}

.button-promo {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  text-align: center;
}

.button--form {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.form__text {
  display: block;
  text-align: center;
}

.navigation__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 18px;
  font-size: 0;
  background: 0 0;
  background-image: linear-gradient(180deg,transparent 8px,#222 8px,#222 10px,transparent 10px);
  border: 0;
  cursor: pointer;
}

.navigation__toggle::before {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #222;
}

.navigation__toggle::before {
  top: 0;
  transition: top ease .5s,transform ease .5s;
}

.navigation__toggle::after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #222;
}

.navigation__toggle::after {
  bottom: 0;
  transition: bottom ease .5s,transform ease .5s;
}

@media (min-width: $tablet-width) {
  .button--form {
    width: 45%;
    max-width: 330px;
    margin: 0 60px 0 0;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 1;
  }

  .button-promo {
    max-width: 245px;
    margin: 0 0 0 87px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
    order: 3;
    z-index: 2;
  }

  .range-slider__direction {
    padding-bottom: 6px;
    border-bottom: 1px dotted #d9d9d9;
    font-size: 20px;
    line-height: 1;
  }

  .navigation__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .button--form {
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 568px;
    margin-right: 0;
  }

  .button--add-good {
    width: auto;
    flex-grow: 1;
    margin: 0;

  }
}