@import "../variables";

.button {
  display: block;
  width: 100%;
  font-family: $main-font;
  color: $white;
  text-transform: uppercase;
  background-color: $green;
}

.button--product {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}


.button--product--all {
  background-color: $background;
  color: $small-text;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

.button--add-good {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  margin: 15px 0;
  text-align: center;
}

.button-promo {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  margin-left: 20px;
}

.button--form {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0px;
}

@media (min-width: $desktop-width) {
  .button--form {
    flex-grow: 1;
  }
}