@import "../variables";

.button {
  display: block;
  width: 100%;
  font-family: $main-font;
  color: $white;
  text-transform: uppercase;
  background-color: $green;
  padding: 10px 0;
}

.button--product {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}


.button--product--all {
  background-color: $background;
  color: $small-text;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

.button--add-good {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  margin: 15px 0;
  text-align: center;
}

.button-promo {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  text-align: center;
}

.button--form {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.form__text {
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .button--form {
    width: 45%;
    max-width: 330px;
    margin: 0 60px 0 0;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .button--form {
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 568px;
    margin-right: 0;
  }

  .button--add-good {
    width: auto;
    flex-grow: 1;
    margin: 0;

  }
}