@import "../variables";

.contacts--silver {
  background: $background;
}

.contacts__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  //min-width: 320px;
  margin: 0 auto;
}

.contacts__address {
  margin: 0 auto;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 450px;
  padding-bottom: 26px;
}

.contacts__title {
  display: block;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 125px;
  padding-right: 15px;
}

.contacts__location {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: $small-text;
  width: 135px;
}

.contacts__map {
  margin-right: -20px;
  margin-left: -20px;
}

.contacts__map iframe {
  display: block;
  border: 0;
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    justify-content: space-between;
    max-width: none;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    min-width: 155px;
  }

  .contacts__location {
    font-size: 16px;
    line-height: 20px;
    min-width: 155px;
    text-align: right;
  }

  .contacts__location span {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    width: 570px;
    background-color: $white;
    justify-content: space-around;
  }
}