@import "../variables";

.contacts__address {
  margin: 0 auto;
  font-style: normal;
  display: flex;
  align-items: center;
}

.contacts__title {
    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }


@media (min-width: $tablet-width) {
  .contacts__address {
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    width: 570px;
    background-color: $white;
    justify-content: space-around;
  }
}