@import "../variables";

.page-footer {
  background-color: $background;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social__list {
  display: flex;
}

.copyright__link {
  span {
    color: $small-text;
  }
}