@import "../variables";

.header {
  min-height: 66px;
  position: relative;
  border-bottom: 1px #d9d9d9 solid;
}

.navigation {
  position: relative;
}

.navigation__container {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  z-index: 10;
  padding-top: 11px;
}

.navigation__logo {
  padding-bottom: 15px;
}

.navigation__logo-link {
  display: inline-block;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: stretch;
}

.navigation__item {
  display: block;
  flex-shrink: 0;
  margin-right: -20px;
  margin-left: -20px;
  padding-top: 22px;
  padding-bottom: 21px;
  text-align: center;
  text-transform: uppercase;
  font-family: $main-font;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px #d9d9d9 solid;
  a {
    color: $big-text;
  }
}

@media (min-width: $tablet-width) {

  .header {
    min-height: 92px;
    border-bottom: none;
  }

  .navigation__container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 24px;
  }

  .navigation__logo {
    margin-right: 50px;
    padding-bottom: 0;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .navigation__item {
    border-top: none;
    margin-right: 36px;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 13px;
    font-size: 18px;
    color: #222;
  }
  .navigation__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .header--index::before {
    background: #63a73a url("../../img/content/promo--bg-desktop@2x.jpg") no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 120px;
  }

  .header--index::before {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: calc(50% - 40px);
    min-height: 696px;
    background: #63a73a url("../../img/content/promo--bg-desktop@1x.jpg") no-repeat left top;
    background-size: cover;
  }

  .navigation__container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 54px;
  }

  .navigation__item {
    font-size: 20px;
    line-height: 24px;
  }

  .navigation__item a {
    color: $white;
  }
}