@import "../variables";

.page-title {
  margin: 0;
  padding: 0 20px 28px;
  font-family: $main-font;
  font-size: 36px;
  line-height: 60px;
  color: $big-text;
  //text-align: center;
  border-bottom: 1px solid #eaeaea;
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    font-size: 60px;
  }
}