@import "../variables";

.program-form {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 32px;
}

.program-form {
  input {
    border-color: $add-color-1;
    border-style: solid;
    margin-left: 15px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px;
  }
  fieldset {
    overflow: hidden;
  }
  label {
    font-family: $main-font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $add-color-3;
    margin-bottom: 20px;
    width: 100%;
  }
  textarea {
    border-color: $add-color-1;
    font-family: $main-font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 13px;
    width: 90%;
    min-height: 151px;
    max-height: 250px;
    resize: vertical;
  }
}

.form__cat,
.form__contact {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
}

.form__cat-container {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
}

.program-form__title {
  font-family: $main-font;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  margin: 0;
  padding: 0 20px 25px;
}

.program-form__text {
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $small-text;
  padding: 0 30px 39px 20px;
  margin: 0 auto;
}

.form__type-program,
.form__comment-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: $main-font;
  font-size: 24px;
  //line-height: 24px;
  line-height: -1px;
  margin-bottom: 20px;
}

.form__cat-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 24px;
}

.form__cat-age {
  span {
    display: block;
    flex-shrink: 0;
  }
}

.form__cat-data::after {
  display: block;
  content: '';
  position: absolute;
  //right: -50vw;
  right: -20px;
  bottom: 0;
  //left: -50vw;
  left: -20px;
  border-bottom: 1px solid rgba(205,205,205,.5);
}

.form__type-program,
.form__addition-container {
  label {
    padding-left: 45px;
    position: relative;
  }
}

.form__type-program {
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  padding-bottom: 21px;
}

.form__type-program::after {
  display: block;
  content: '';
  position: absolute;
  //right: -50vw;
  right: -20px;
  bottom: 0;
  //left: -50vw;
  left: -20px;
  border-bottom: 1px solid rgba(205,205,205,.5);
}

.form__type-program label::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 5px;
  width: 26px;
  height: 26px;
  border: 2px solid $add-color-4;
  border-radius: 50%;
}

.form__addition-container label::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 5px;
  width: 26px;
  height: 26px;
  border: 2px solid $add-color-4;
}

.form__cat-unknown {
  margin-bottom: 0;
}

.form__cat-name,
.form__cat-weight,
.form__cat-age,
.form__owner-email,
.form__owner-tel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    flex-grow: 1;
  }
}

.form__title {
  min-width: 320px;
  max-width: 540px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-bottom: 34px;
  span {
    background: $white;
    display: inline-block;
    margin-left: -22px;
  }
}
.form__title, .form__title span {
  padding-right: 20px;
  padding-left: 20px;
}

.form__title::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
  top: 14px;
  right: -50vw;
  left: -50vw;
  height: 3px;
  background: #68b738;
}

.form__owner {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  //margin-bottom: 30px;
}

.form__comment {
  margin: 0;
  padding: 0 0 26px;
  border: 0;
}

.form__comment-container {
  box-sizing: border-box;
  min-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 540px;
  margin: 0 auto;
}

.form__addition {
  margin: 0;
  padding: 0 0 34px;
  border: 0;
}

.form__addition-container {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 320px;
  max-width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__push {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .program-form {
    width: 768px;
  }
  .program-form__title {
    font-size: 60px;
    text-align: left;
  }
  .program-form__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
  }
  .form__cat-container {
    //display: flex;
    //flex-direction: column;
    padding-right: 67px;
    padding-left: 70px;
  }
  .form__cat-data {
    //width: 631px;
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    display: flex;

  }
  .form__type-program {
    padding-right: 37px;
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .program-form {
    width: 1220px;
  }
  .program-form label {
    font-size: 20px;
    line-height: 20px;
  }
  .program-form__title {
    font-size: 60px;
  }
  .program-form__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .form__cat-container {
    display: flex;
    //justify-content: space-between;
    max-width: 1300px;
  }
  .form__cat-data {
    margin: 0;
    flex-grow: 1;
    max-width: none;
    margin-right: 80px;
  }
  .form__type-program {
    flex-grow: 1;
    max-width: none;
    padding-bottom: 10px;
    padding-top: 20px;
    //align-self: stretch;
  }
  .form__owner {
    flex-direction: row;
    justify-content: space-between;
    label {
      max-width: 570px;
      margin: 0;
      flex-grow: 1;
    }
  }
  .form__title {
    padding-left: 33px;
  }

  .form__owner-email {
    margin-right: 30px;
  }
  .form__comment-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .form__addition-container {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 65px;
    label:nth-child(3-n) {
      min-width: 300px;
    }
  }
  .form__text {
    //max-width: 245px;
    flex-grow: 1;
    text-align: left;
  }
  .form__push {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 85px;
  }
  .contacts__wrapper {
    position: relative;
  }
  .contacts__address {
    width: 570px;
    margin: 0;
    position: absolute;
    content: '';
    top: 95px;
    left: 20px;
    padding-top: 65px;
    padding-right: 76px;
    padding-left: 76px;
    padding-bottom: 65px;
  }
  .contacts__map {
    min-height: 400px;
  }
}