@import "../variables";

.program__container {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 17px;
}

.program__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.program__type {
  background-color: $background;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  position: relative;
  padding-bottom: 15px;
  padding-top: 20px;
}

.program__type--slim {
  margin-bottom: 20px;
}

.program__type {
  a {
    font-family: $main-font;
    font-size: 16px;
    line-height: 16px;
    color: $big-text;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-left: 25px;
  }
}

.program__title {
  font-family: $main-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.program__description {
  margin: 0 auto;
  padding: 0;
  font-family: $add-font;
  font-size: 14px;
  line-height: 18px;
  width: 230px;
  margin-bottom: 45px;
}

.program__description::after {
  content: '';
  position: absolute;
  top: 180px;
  left: 20px;
  width: 240px;
  height: 2px;
  border-bottom: 1px solid $add-color;
}

@media (min-width: $tablet-width) {
  .program__list {
    flex-direction: row;
  }
  .program__type {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .program__list {
    flex-direction: row;
  }
  .program__type {
    width: 570px;
  }
}