@import "../variables";

.sample {
  background-color: $background;
}

.sample-container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.sample__title {
  margin: 0;
  font-family: $main-font;
  font-size: 36px;
  line-height: 60px;
}

.sample__description {
  font-size: 14px;
  line-height: 18px;
  padding: 0 1% 25px 0;
  margin: 0;
}

.sample__list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 35px;
}

.sample__item {
  display: block;
  text-transform: uppercase;
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  min-width: 124px;
  text-align: center;
}

.sample__item:last-child {
  margin-left: 23px;
}

.sample__item sub {
  position: absolute;
  top: 50px;
  left: 16px;
  font-family: $add-font;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  width: 65px;
  padding: 0 15px;
  background-color: $background;
}

.sample__text {
  margin: 0;
  padding-bottom: 33px;
  text-align: center;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
}

.range-slider__list {
  margin: 0;
  text-align: center;
  margin-right: -20px;
  margin-left: -20px;
  padding-bottom: 31px;
}

.range-slider__control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
  max-width: 290px;
}

.range-slider__direction {
  display: block;
  flex-shrink: 0;
  background: 0 0;
  border: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: $big-text;
}

.range-slider__scale {
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
  height: 14px;
  margin: 4px 9px 0 15px;
  padding: 3px 5px;
  background: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.range-slider__bar {
  position: relative;
  height: 100%;
}

.range-slider__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  font-size: 0;
  border-radius: 5px;
  background: $green;
}

.range-slider__handle--hidden {
  display: none;
}

.range-slider__handle:last-child {
  left: auto;
  right: 0;
}